nav.navbar.navbar-static-top .navbar-custom-menu ul.nav.navbar-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav.navbar.navbar-static-top .navbar-custom-menu ul.nav.navbar-nav li.user-li {
  color: #fff;
  font-size: 16px;
  margin-right: 10px;
}

.notifications {
  padding-top: 15px;
}

.dt-filters-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.dt-filters-container .form-group:not(.form-submit) {
  padding: 0 15px;
}

.dt-filters-container .form-submit {
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.widget-user-2 .widget-user-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.widget-user-2 .widget-user-header.bg-saros {
  background: #1d1d1d url(/images/bg.png?3d5017549f0369e7efa2f546b6f17419);
}

.widget-user-2 .widget-user-header.bg-saros .fa {
  color: #fff;
}

.widget-user-2 .widget-user-header.bg-saros .fa.fa-star {
  color: #f3cf1f;
}

.widget-user-2 .widget-user-header .widget-user-username {
  margin-left: 15px;
  color: #fff;
}

.widget-user-2 li.img-wrapper {
  height: 0;
  overflow: hidden;
  padding-top: 56.25%;
  position: relative;
}

.widget-user-2 li.img-wrapper img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.widget-user-2 li img {
  max-width: 100%;
}

.fa.fa-star.extra-points {
  color: #f3cf1f;
}

.skin-blue .main-header {
  background: #1d1d1d url(/images/bg.png?3d5017549f0369e7efa2f546b6f17419);
}

.skin-blue .main-header .logo {
  background: transparent;
  -webkit-transition: color ease-in-out .3s;
  transition: color ease-in-out .3s;
}

.skin-blue .main-header .logo:hover {
  background: transparent;
  color: #E97122;
}

.skin-blue .main-header .navbar {
  background: transparent;
}

.skin-blue .main-header .navbar .sidebar-toggle {
  -webkit-transition: color ease-in-out .3s;
  transition: color ease-in-out .3s;
}

.skin-blue .main-header .navbar .sidebar-toggle:hover {
  background: transparent;
  color: #E97122;
}

.skin-blue .main-header .navbar .nav li a {
  -webkit-transition: color ease-in-out .3s;
  transition: color ease-in-out .3s;
}

.skin-blue .main-header .navbar .nav li a:hover {
  color: #E97122;
}

.skin-blue .sidebar-menu li.active a {
  border-left-color: #E97122;
}

.skin-blue .sidebar-menu li:hover a {
  color: #E97122;
}

.skin-blue .sidebar-menu li a {
  -webkit-transition: color ease-in-out .3s;
  transition: color ease-in-out .3s;
}

.login-page,
.register-page {
  background: #1d1d1d url(/images/bg.png?3d5017549f0369e7efa2f546b6f17419);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.login-logo a,
.register-logo a {
  color: #E97122;
}

.login-box,
.register-box {
  margin: 0;
}

.login-box-body,
.register-box-body {
  background: transparent;
  margin: 0;
}

.box.box-saros {
  border-top: 3px solid #E97122;
}

.bootstrap-datetimepicker-widget table td.active {
  background: #E97122;
}

.bootstrap-datetimepicker-widget table td.active:hover {
  background: #E97122;
}

.deal-img-wrapper,
.announcement-img-wrapper {
  height: 0;
  padding-top: 56.25%;
  position: relative;
  background: url(/images/default-img.gif?4172d0fe85cbe31c9bb4d9431d94b6ca);
  background-size: cover;
  overflow: hidden;
}

.deal-img-wrapper img,
.announcement-img-wrapper img {
  position: absolute;
  left: 50%;
  top: 50%;
  width: auto;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

