nav.navbar.navbar-static-top .navbar-custom-menu ul.nav.navbar-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav.navbar.navbar-static-top .navbar-custom-menu ul.nav.navbar-nav li.user-li {
  color: #fff;
  font-size: 16px;
  margin-right: 10px;
}

.notifications {
  padding-top: 15px;
}

.dt-filters-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.dt-filters-container .form-group:not(.form-submit) {
  padding: 0 15px;
}

.dt-filters-container .form-submit {
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.widget-user-2 .widget-user-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.widget-user-2 .widget-user-header .widget-user-username {
  margin-left: 15px;
}

.fa.fa-star.extra-points {
  color: #f3cf1f;
}

