nav.navbar.navbar-static-top .navbar-custom-menu ul.nav.navbar-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav.navbar.navbar-static-top .navbar-custom-menu ul.nav.navbar-nav li.user-li {
  color: #fff;
  font-size: 16px;
  margin-right: 10px;
}

.notifications {
  padding-top: 15px;
}

.dt-filters-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.dt-filters-container .form-group:not(.form-submit) {
  padding: 0 15px;
}

.dt-filters-container .form-submit {
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.widget-user-2 .widget-user-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.widget-user-2 .widget-user-header.bg-saros {
  background: #1d1d1d url(/images/bg.png?3d5017549f0369e7efa2f546b6f17419);
}

.widget-user-2 .widget-user-header.bg-saros .fa {
  color: #fff;
}

.widget-user-2 .widget-user-header.bg-saros .fa.fa-star {
  color: #f3cf1f;
}

.widget-user-2 .widget-user-header .widget-user-username {
  margin-left: 15px;
  color: #fff;
}

.widget-user-2 li.img-wrapper {
  height: 0;
  overflow: hidden;
  padding-top: 56.25%;
  position: relative;
}

.widget-user-2 li.img-wrapper img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.widget-user-2 li img {
  max-width: 100%;
}

.fa.fa-star.extra-points {
  color: #f3cf1f;
}

.main-header .logo .logo-lg img {
  max-height: 40px;
}

.skin-blue .main-header {
  background: #1d1d1d url(/images/bg.png?3d5017549f0369e7efa2f546b6f17419);
  border-bottom: 5px solid #DF001A;
}

.skin-blue .main-header .logo {
  background: transparent;
  -webkit-transition: color ease-in-out .3s;
  transition: color ease-in-out .3s;
}

.skin-blue .main-header .logo:hover {
  background: transparent;
  color: #DF0019;
}

.skin-blue .main-header .navbar {
  background: transparent;
}

.skin-blue .main-header .navbar .sidebar-toggle {
  -webkit-transition: color ease-in-out .3s;
  transition: color ease-in-out .3s;
}

.skin-blue .main-header .navbar .sidebar-toggle:hover {
  background: transparent;
  color: #DF0019;
}

.skin-blue .main-header .navbar .nav li a {
  -webkit-transition: color ease-in-out .3s;
  transition: color ease-in-out .3s;
}

.skin-blue .main-header .navbar .nav li a:hover {
  color: #DF0019;
}

.skin-blue .sidebar-menu li.active a {
  border-left-color: #DF0019;
}

.skin-blue .sidebar-menu li:hover a {
  color: #DF0019;
}

.skin-blue .sidebar-menu li a {
  -webkit-transition: color ease-in-out .3s;
  transition: color ease-in-out .3s;
}

.login-page,
.register-page {
  background: #1d1d1d url(/images/bg.png?3d5017549f0369e7efa2f546b6f17419);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.login-logo a,
.register-logo a {
  color: #DF0019;
}

.login-box,
.register-box {
  margin: 0;
}

.login-box-body,
.register-box-body {
  background: transparent;
  margin: 0;
}

.box.box-saros {
  border-top: 3px solid #DF0019;
}

.box.box-saros .box-header.with-border .box-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.bootstrap-datetimepicker-widget table td.active {
  background: #DF0019;
}

.bootstrap-datetimepicker-widget table td.active:hover {
  background: #DF0019;
}

.deal-img-wrapper,
.announcement-img-wrapper {
  height: 0;
  padding-top: 56.25%;
  position: relative;
  background: url(/images/default-img.gif?4172d0fe85cbe31c9bb4d9431d94b6ca);
  background-size: cover;
  overflow: hidden;
}

.deal-img-wrapper img,
.announcement-img-wrapper img {
  position: absolute;
  left: 50%;
  top: 50%;
  width: auto;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.announcement-item {
  opacity: 0.4;
  margin-bottom: 15px;
}

.announcement-item .announcement-img-wrapper {
  -webkit-filter: grayscale(1);
          filter: grayscale(1);
}

.announcement-item.active {
  opacity: 1;
}

.announcement-item.active .announcement-img-wrapper {
  -webkit-filter: grayscale(0);
          filter: grayscale(0);
}

.deal-item {
  opacity: 0.4;
  margin-bottom: 15px;
}

.deal-item .deal-img-wrapper {
  -webkit-filter: grayscale(1);
          filter: grayscale(1);
}

.deal-item.active {
  opacity: 1;
}

.deal-item.active .deal-img-wrapper {
  -webkit-filter: grayscale(0);
          filter: grayscale(0);
}

.d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex-wrap {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.item-btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 5px;
  right: 20px;
}

.item-btns .btn {
  margin-right: 3px;
}

textarea.form-control {
  width: 100% !important;
}

.mb-15 {
  margin-bottom: 15px;
}

.main-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#loadingModal .modal-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.loader {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  position: relative;
  margin: 0 auto;
}

#loader-1:before,
#loader-1:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 90%;
  height: 90%;
  border-radius: 100%;
  border: 10px solid transparent;
  border-top-color: #3498db;
}

#loader-1:before {
  z-index: 100;
  -webkit-animation: spin 1s infinite;
          animation: spin 1s infinite;
  top: 5%;
  left: 5%;
  -webkit-transform: translate(0);
          transform: translate(0);
}

#loader-1:after {
  border: 10px solid #ccc;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

